PG1_TYPE=postgres
PG1_HOST=localhost
PG1_PORT=5432
PG1_USERNAME=postgres
PG1_PASSWORD=
PG1_DATABASE=products_command

PG2_TYPE=postgres
PG2_HOST=localhost
PG2_PORT=5432
PG2_USERNAME=postgres
PG2_PASSWORD=
PG2_DATABASE=products_query

KAFKA_HOST=localhost
KAFKA_PORT=19092
KAFKA_CONSUMER_GROUPID=TMCID
KAFKA_PRODUCER_CLIENTID=TMCCLIENTID

API_KEY=b1b65baf-9a95-4f45-b972-1bed0b29bfd3